<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Double Pendulum</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <style>
            body {
                overflow-x: hidden;
                background-image: url(/static/bg.jpg);
                background-position: center;
            }
        </style>
    </head>

    <body
        class="bg-gray-50 min-h-screen flex flex-col items-center justify-center p-4"
    >
        <h1 class="text-2xl font-semibold text-gray-800 mb-4">
            Double Pendulum
        </h1>

        <div
            class="flex flex-col lg:flex-row gap-6 items-start w-full max-w-5xl"
        >
            <div class="flex-1 flex justify-center items-center">
                <canvas
                    id="pendulum-canvas"
                    width="600"
                    height="600"
                    data-origin-x="{{ origin_x }}"
                    data-origin-y="{{ origin_y }}"
                    class="border border-gray-300 rounded-lg shadow-sm bg-white"
                ></canvas>
            </div>
            <div
                class="flex flex-col gap-4 p-4 bg-white border border-gray-300 rounded-lg shadow-sm w-full lg:w-80"
            >
                <h2 class="text-lg font-medium text-gray-700 border-b pb-2">
                    Configuration
                </h2>

                <div class="flex flex-col gap-2">
                    <label
                        class="text-sm text-gray-600 font-medium"
                        for="bob1-mass"
                        >Mass of Bob 1</label
                    >
                    <input
                        type="number"
                        id="bob1-mass"
                        class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500"
                        placeholder="ex. 1.0"
                    />

                    <label
                        class="text-sm text-gray-600 font-medium"
                        for="bob2-mass"
                        >Mass of Bob 2</label
                    >
                    <input
                        type="number"
                        id="bob2-mass"
                        class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500"
                        placeholder="ex. 1.0"
                    />

                    <label
                        class="text-sm text-gray-600 font-medium"
                        for="rod1-length"
                        >Length of Rod 1</label
                    >
                    <input
                        type="number"
                        id="rod1-length"
                        class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500"
                        placeholder="ex. 100"
                    />

                    <label
                        class="text-sm text-gray-600 font-medium"
                        for="rod2-length"
                        >Length of Rod 2</label
                    >
                    <input
                        type="number"
                        id="rod2-length"
                        class="border border-gray-300 rounded-md px-3 py-1 focus:outline-none focus:ring-1 focus:ring-blue-500"
                        placeholder="ex. 100"
                    />
                </div>

                <div class="flex gap-3 mt-4">
                    <button
                        id="update-btn"
                        class="flex-1 cursor-pointer bg-green-600 text-white py-1.5 rounded-md hover:bg-blue-400 transition border border-black/80"
                    >
                        Update
                    </button>

                    <button
                        id="reset-btn"
                        class="flex-1 cursor-pointer bg-gray-200 text-gray-800 py-1.5 rounded-md hover:bg-gray-100 transition border border-black/80"
                    >
                        Restart
                    </button>

                    <button
                        id="restart-btn"
                        class="flex-1 cursor-pointer bg-red-500 text-white py-1.5 rounded-md hover:bg-red-400 transition border border-black/80"
                    >
                        Reset
                    </button>
                </div>
            </div>
        </div>

        <script src="/static/js/script.js"></script>
        <script src="https://unpkg.com/konva@10.0.0-1/konva.min.js"></script>
    </body>
</html>
